/* ---------- GLOBAL STYLES ---------- */
body {
	background: #C0DEED url(img/bg.png) no-repeat fixed;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
	color: #66757f;
	font-size: 22px;
	font-weight: 200;
	line-height: 22px;
}

h4 {
	color: #66757f;
	font-weight: 200;
}

a {
	color: #0084B4;
}

img {
	border-radius: 4px;
}


/* ---------- NAVBAR ---------- */
.navbar {
	background: #fff;
}

.glyphicon {
	font-size: 20px;
}



/* ---------- PROFILE ---------- */
#profile {
	background: #fff;
	border-radius: 6px;
	width: 290px;
	margin: 10px;
	padding-top: 60px;
}

/*.stats li {
	margin-top: 10px;
}*/

.form-control {
	margin: 15px 0px;
}

#profile img {
	border: 2px solid #fff;
}
.userName {
	font-size: 18px;
	font-weight: bold;
	color: #292f42;
	margin-bottom: 5px;
}



/* ---------- WHO TO FOLLOW ---------- */
#who-to-follow {
	background: #fff;
	border-radius: 6px;
	width: 290px;
	margin: 10px;
}

#who-to-follow a {
	font-size: 13px;
}

.follower-list li {
	margin-bottom: 10px;
}


/* ---------- TRENDS ---------- */
#trends {
	background: #fff;
	border-radius: 6px;
	width: 290px;
	margin: 10px 20px -1px 10px;
	padding: 8px 15px;
}

#trends a {
	font-size: 13px;
}

.modal-content {
	width: 520px;
}



/* ---------- FOOTER ---------- */
#footer {
	background: #fff;
	border-radius: 6px;
	width: 290px;
	margin: 10px;
	padding: 15px 15px 5px 15px;
	font-size: 12px;
	color: #8899a6;
}

footer a, footer a:hover {
	color: #8899a6;
}



/* ---------- MAIN TWEETS ---------- */
#tweet-display {
	background: #fff;
	border-radius: 6px;
	width: 600px;
	margin: 10px 0 20px -15px;
}






















